<%- include('partial/header.ejs') %>

  <body>
    <div class="container">
      <div class="card mt-5">
        <div class="card-header text-center">
          <h2>MongoDB BREADS(Browse, Read, Edit, Add, Delete, Sorting)</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 mb-3 mb-md-0">
              <div class="input-group">
                <span class="input-group-text">Show</span>
                <select class="form-control text-center" id="u-limit" name="u-limit">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="all">all</option>
                </select>
                <span class="input-group-text">entries</span>
              </div>
            </div>
            <div class="col-md-9 mb-3">
              <div class="input-group">
                <input type="text" class="form-control" id="search" name="search" placeholder="Search">
                <button type="submit" class="btn btn-info"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button type="button" class="btn btn-warning" onclick="resetSearch()"><i
                    class="fa-solid fa-arrows-rotate"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-data"></div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="col-md-1 align-middle px-2">
                <span>No.</span>
              </th>
              <th scope="col" class="col-md-3 align-middle px-2" id="s-name">
                <span><i class="fa-solid fa-sort me-2"></i>Name</span>
              </th>
              <th scope="col" class="col-md-3 align-middle px-2" id="s-phone">
                <span><i class="fa-solid fa-sort me-2"></i>Phone</span>
              </th>
              <th scope="col" class="col-md-2 align-middle px-2">
                <span>Actions</span>
              </th>
            </tr>
          </thead>
          <tbody id="users-table">
          </tbody>
        </table>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" onclick="showAdd()"><i class="fa-solid fa-plus"></i></button>
          <ul class="pagination m-0 float-end" id="pagination">
            <li class="page-item">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="modal fade" id="form-Modal" tabindex="-1" aria-labelledby="form-ModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form id="users-form">
                <input type="hidden" id="id" name="id" value="">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="form-ModalLabel">User Form</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row mb-3">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" name="name">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="phone" name="phone">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      let params = {
        query: '',
        page: 1,
        sortBy: '_id',
        sortMode: 'desc',
        limit: 5,
      }

      let defaultUrl = 'http://localhost:3000/users';

      // SHOW DATA
      const fetchData = async () => {
        try {
          const response = await fetch(defaultUrl, {
            method: 'GET'
          });
          const result = await response.json();

          let html = '';
          result.data.forEach((item, index) => {
            html += `
            <tr>
              <td>${index + 1}</td>
              <td>${item.name}</td>
              <td>${item.phone}</td>
              <td>
                <button type="button" onclick="editUser(${item.id})" class="btn btn-success btn-sm">
                  <i class="fa-solid fa-pencil"></i>
                </button>
                <button type="button" onclick="showDelete(${item.id})" class="btn btn-danger btn-sm">
                  <i class="fa-solid fa-trash"></i>
                </button>
                 <a href="/todos/" class="btn btn-warning btn-sm"> <i class="fa-solid fa-right-to-bracket"></i>
                </button>
              </td>
            </tr>`;
          });
          document.getElementById('users-table').innerHTML = html;
        } catch (error) {
          console.log('Failed to fetch users: ' + error);
        }
      };

      // SAVED DATA
      const savedata = async () => {
        try {
          const id = document.getElementById('id');
          let url = defaultUrl
          let method = 'POST'
            if (id) {
              url += `${defaultUrl}/${id}`;
              method = 'PUT'
            } 
          const response = await fetch(url, {
            headers: {
              'Content-Type': 'application/json',
            },
            method,
            body: JSON.stringify({
              name: document.getElementById('name').value,
              phone: document.getElementById('phone').value
            }),
          })
          const result = await response.json();
          fetchData();
          formUserModal.hide();
        } catch (error) {
          console.log('Failed to fetch users: ' + error);
        }
      };

      const showAdd = () => {
        document.getElementById('name').value = '';
        document.getElementById('phone').value = '';
        formUserModal.show();
      }
      

      const editUser = async (id) => {
          try {
            const response = await fetch(`${defaultUrl}/${id}`, {
              method: 'GET',
            })
            const result = await response.json();
            document.getElementById('id').value = result.id;
            document.getElementById('name').value = result.name;
            document.getElementById('phone').value = result.phone;
            formUserModal.show();
            fetchData();
          } catch (err) {
            console.log('Failed to update user details: ' + err);
          }
        } 

      const formUserModal = new bootstrap.Modal(document.getElementById('form-Modal'));
      const formUser = document.getElementById('users-form');

      let name = document.getElementById('name');
      let phone = document.getElementById('phone');

      document.addEventListener('DOMContentLoaded', () => {
        // script akan jalan ketika dom selesai diload

        formUser.addEventListener('submit', async (e) => {
          e.preventDefault();
          try {
            const response = await fetch(defaultUrl, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ name: name.value, phone: phone.value }),
            })
            name.value = '';
            phone.value = '';
            formUserModal.hide(); 
            fetchData();
          } catch (error) {
            console.log('Failed to fetch users: ' + error);
          }
        })

        fetchData();
      })
    

    </script>

    <%- include('partial/footer.ejs') %>