<%- include('partials/header.ejs') %>

<div class="card-header">
    <h2 class="text-center">MongoDB BREADS(Browse, Read, Edit, Add, Delete, Sorting)</h2>
</div>
<div class="card-body">
</div>

<%- include('partials/footer.ejs') %>
