body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* #sort-btn i {
    font-size: 14px; 
  } */

 #resetButton {
  margin-left: 46px;
} 


 /* input#deadlineEnd.form-control {
  width: auto ;
}   */

button.btn.btn-warning.todos-btn {
  padding: 4px 8px;

}

/* button#addButton.btn.btn-outline-primary {
  margin-left: 1220px;
}  */