body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.modal-body {
  text-align: left;
}

.form-label {
  display: block;
  margin-bottom: 8px; /* Adds spacing between the label and input */
}

