body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#sort-btn i {
    font-size: 14px; 
  }

#resetButton {
  margin-right: 10px;
}

div#showPagination {
  margin-left: auto;
}